<h2>Eventos do Component</h2>
<hr />
<form class="row g-3 align-tems-center p-2" action="">
  <div class="col-auto">
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="buscar" />
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-success">Buscar</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#1</th>
      <th>Image</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let e of eventos">
      <td>{{ e.eventoId }}</td>
      <td>{{ e.imagemURL }}</td>
      <td>{{ e.local }}</td>
      <td>{{ e.dataEvento }}</td>
      <td>{{ e.qtdPessoas }}</td>
      <td>{{ e.lote }}</td>
      <td>{{ e.imagemURL }}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h2>nenhum evento encontrado</h2>
      </td>
    </tr>
  </tfoot>
</table>
