<h2>Eventos do Component</h2>
<hr />
<div class="row g-3 align-tems-center p-2" >
  <div class="col-auto">
    <label class="visually-hidden"></label>
    <div class="input-group">
      <!-- add an labe with "Filtros:" in content and wirth margin right using bootstrap -->
      <label class="input-group-text">Filtros:</label>
      <input
      type="text"
      class="form-control"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      />
    </div>
  </div>
  <div class="col-auto">
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="hideImage()"
        >
          {{ showImage ? 'Ocultar' : 'Mostrar' }}
        </button>
      </th>
      <th>#1</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let e of eventosFiltrados">
      <td>
        <img [collapse]="!showImage"
        [isAnimated]="true"
        src="/assets/{{ e.imagemURL }}"
        style="width: 50px; margin: 5px;"
        alt="">
      </td>
      <td>{{ e.eventoId }}</td>
      <td>{{ e.tema }}</td>
      <td>{{ e.local }}</td>
      <td>{{ e.dataEvento }}</td>
      <td>{{ e.qtdPessoas }}</td>
      <td>{{ e.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h2>nenhum evento encontrado</h2>
      </td>
    </tr>
  </tfoot>
</table>
