<div class="card rounded shadow-sm">
  <form>
    <div class="p-3">
      <div class="row">
        <div class="form-group col-md-12">
          <label class="form-label">Tema</label>
          <input type="text" class="form-control mb-2 form-control-sm" placeholder="Insira o Tema">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label class="form-label">Local</label>
          <input type="text" class="form-control mb-2 form-control-sm" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Data e Hora</label>
          <input type="datetime" class="form-control mb-2 form-control-sm" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label class="form-label">Qtd Pessoas</label>
          <input type="text" class="form-control mb-2 form-control-sm" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Telefone</label>
          <input type="text" class="form-control mb-2 form-control-sm" placeholder="(000) 90000-0000">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Email</label>
          <input type="text" class="form-control mb-2 form-control-sm" placeholder="e-mail">
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-secondary btn-sm mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success btn-sm">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
