<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="row">
        <div class="form-group col-md-12">
          <label class="form-label">Tema</label>
          <input
            type="text"
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.tema)"
            formControlName="tema"
            placeholder="Insira o Tema"
          />
          <div *ngIf="f.tema?.errors?.required" class="invalid-feedback">
            tema é obrigatório
          </div>
          <div *ngIf="f.tema?.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres
          </div>
          <div *ngIf="f.tema?.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label class="form-label">Local</label>
          <input
            type="text"
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.local)"
            formControlName="local"
            placeholder=""
          />
          <div
            *ngIf="f.local?.errors?.required && f.local?.touched"
            class="invalid-feedback"
          >
            local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Data e Hora</label>
          <input
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.dataEvento)"
            formControlName="dataEvento"
            placeholder=""
            bsDatepicker
            [bsConfig]="bsConfig"
          />
          <div
            *ngIf="f.dataEvento?.errors?.required && f.dataEvento?.touched"
            class="invalid-feedback"
          >
            Data é obrigatório
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label class="form-label">Qtd Pessoas</label>
          <input
            type="number"
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.qtdPessoas)"
            formControlName="qtdPessoas"
            placeholder=""
          />
          <div
            *ngIf="f.qtdPessoas?.errors?.required && f.qtdPessoas?.touched"
            class="invalid-feedback"
          >
            Quantidade de pessoas é obrigatório
          </div>
          <div *ngIf="f.qtdPessoas?.errors?.max" class="invalid-feedback">
            Quantidade de pessoas excede o limite de {{ limiteDePessoas }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">Telefone</label>
          <input
            type="text"
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.telefone)"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          />
          <div
            *ngIf="f.telefone?.errors?.required && f.telefone?.touched"
            class="invalid-feedback"
          >
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">E-mail</label>
          <input
            type="text"
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.email)"
            formControlName="email"
            placeholder="e-mail"
          />
          <div
            *ngIf="f.email?.errors?.required && f.email?.touched"
            class="invalid-feedback"
          >
            E-mail é obrigatório
          </div>
          <div
            *ngIf="f.email?.errors?.email && f.email?.touched"
            class="invalid-feedback"
          >
            E-mail teve possuir um endereço válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Imagem</label>
          <input
            type="text"
            class="form-control mb-2 form-control-sm"
            [ngClass]="cssValidator(f.imagemURL)"
            formControlName="imagemURL"
            placeholder="imagem"
          />
          <div
            *ngIf="f.imagemURL?.errors?.required && f.imagemURL?.touched"
            class="invalid-feedback"
          >
            Imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-outline-secondary btn-sm mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button class="btn btn-success btn-sm" [disabled]="!form.valid">
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
